body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 1080px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

.sidenav {
  text-align:left
}

.page-header {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
  
}
img {
  max-width: 100%;
}

.page-full {
  padding-top: 50px;
  background-color: aliceblue;
}

